* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia", serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.header-site {
  width: 100%;
  background-color: #436b6b;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 2em;
}

.header-site__content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: inline;
  margin: 0 15px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #e7c14f;
}

.content-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #022721;
  margin-bottom: 20px;
}

h2,
h3,
h4,
h5 {
  color: #555;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

p {
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: justify;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #777;
  margin-top: 0.5em;
}

blockquote {
  font-style: italic;
  color: #555;
  padding: 10px 20px;
  border-left: 4px solid #2c3e50;
  margin: 1em 0;
  background: #f4f4f9;
}

.footer-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  background-color: #fff;
  padding-bottom: 20px;
  width: 100%;
}

.footer-site__email-link {
  text-decoration: none;
  color: #022721;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: transform 0.3s, color 0.3s ease;
}

.footer-site__email-link:hover {
  color: #555;
  transform: scale(1.2);
}

.footer-site__text {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header-site__content {
    flex-direction: column;
    text-align: center;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin-bottom: 10px;
  }
}
